<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

      <div class="header">

          <div class="header-logo">

            <a href="http://www.credoaction.com" target="_blank"><img src="{{site.baseurl}}/images/credo-action-logo.png" style="height:40px;"></a>

          </div>

          <div class="header-buttons">

              <a href="#take-action" class="header-text">TAKE ACTION</a>

                  <a href="#"><img src="{{site.baseurl}}/images/facebook-icon.png" style="height:23px; padding: 3px 5px 0px 15px;"></a>

                  <a href="#"><img src="{{site.baseurl}}/images/twitter-icon.png" style="height:23px; padding: 3px 5px 0px 5px;"></a>

          </div>

      </div>

      <div id="overlay" class="overlay">
          <div id="overlay-container" class="overlay-container">
              <span id="the-x" class="the-x">X</span>

              <div id="overlay-content-1-rep" class="overlay-content">
                <h3>Representative <span id="rep-name"></span> <span id="stance"></span> the TPP.</h3>
                <h3>Call them now at <br /><span id="phone-number"></span>
              </div>

              <div id="overlay-content-multiple-reps" class="overlay-content">
                <h3>There are multiple Representatives in that Zip code. Please select yours from the list below.</h3>
                  <ul id="multiple-reps-list">
                    <li class="multiple-reps-li hidden">
                      <span class="multiple-reps-name"></span>
                    </li>
                  </ul>
              </div>

          </div>
      </div>



      <div class="container content">
        {{ content }}
      </div>

    <div class="footer">

    </div>

</body>
</html>
