<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

      <div class="header">

          <div class="header-logo">

            <a href="http://www.credoaction.com" target="_blank"><img src="{{site.baseurl}}/images/credo-action-logo.png" style="height:40px;"></a>

          </div>

          <div class="header-buttons hidden">

              <a href="#take-action" class="header-text" id="header-take-action">TAKE ACTION</a>

                  <a href="#"><img src="{{site.baseurl}}/images/facebook-icon.png" style="height:23px; padding: 3px 5px 0px 15px;"></a>

                  <a href="#"><img src="{{site.baseurl}}/images/twitter-icon.png" style="height:23px; padding: 3px 5px 0px 5px;"></a>

          </div>

      </div>

      <div id="overlay" class="overlay">
          <div id="overlay-container" class="overlay-container">
              <span id="the-x" class="the-x">X</span>

              <div id="overlay-content-1-rep" class="overlay-content hidden">
                <div id="page-1">
                  <h3>Representative <span id="rep-name"></span> <span id="stance"></span> the TPP.</h3>
                  <h3>Call them now at <br /><span id="phone-number"></span></h3>
                </div>
                <div id="page-2">
                  <form role="form" method="POST" action="//act.credoaction.com/act/" id="ak-form" name="ak-form">

                    <ul class="responses">
                      <li>
                        <label class="for-radio"><span><input type="radio" name="response-" value="uncommitted"></span>Uncommitted</label>
                      </li>
                      <li>
                        <label class="for-radio"><span><input type="radio" name="response-" value="supportive"></span>Supportive of our position</label>
                      </li>
                      <li>
                        <label class="for-radio"><span><input type="radio" name="response-" value="opposed"></span>Opposed to our position</label>
                      </li>
                      <li>
                        <label class="for-radio"><span><input type="radio" name="response-" value="left a message"></span>Left a message</label>
                      </li>
                      <li>
                        <label class="for-radio"><span><input type="radio" name="response-" value="unreachable"></span>Did not answer the phone</label>
                      </li>
                    </ul>
                    <textarea id="id_action_survey" name="action_survey" class="ak-has-overlay" placeholder="Is there anything you'd like to add about the call?"></textarea>

                    <div class="form-group"><input type="text" class="form-control" name="name" placeholder="name"></div>
                    <div class="form-group"><input type="email" class="form-control" name="email" placeholder="email"></div>
                    <div class="form-group"><input type="text" class="form-control" name="zip" placeholder="zip code"></div>

                    <button type="submit" class="btn btn-ak">Submit</button>

                    <!-- HIDDEN FIELDS DO NOT TOUCH -->
                      <input name="page" value="tpp-whipcount-2016" type="hidden" />
                      <input name="action_referrer" value="" type="hidden" />
                      <input name="country" value="United States" type="hidden" />
                      <input name="lists" value="1" type="hidden" />
                                        
                  </form>
                </div>
              </div>

              <div id="overlay-content-multiple-reps" class="overlay-content hidden">
                <h3>There are multiple Representatives in that Zip code. Please select yours from the list below.</h3>
                  <ul id="multiple-reps-list">
                    <li class="multiple-reps-li hidden">
                      <span class="multiple-reps-name"></span>
                    </li>
                  </ul>
              </div>

          </div>
      </div>



      <div class="container content">
        {{ content }}
      </div>

    <div class="footer">

      <div class="footer-content">

        <p class="footer-text"><a href="http://www.credoaction.com/" target="_blank" class="footer-text">TPPWhipCount.com is a project of CREDO Action. Find out more about our campaigns here.</a></p>

        <div class="footer-buttons">

          <a href="#"><img src="{{site.baseurl}}/images/facebook-icon.png" style="height:23px; padding: 3px 5px 0px 5px;"></a>

          <a href="#"><img src="{{site.baseurl}}/images/twitter-icon.png" style="height:23px; padding: 3px 5px 0px 5px;"></a>

          <a href="#"><img src="{{site.baseurl}}/images/email-icon.png" style="height:23px; padding: 3px 5px 0px 5px;"></a>

        </div>

    </div>

  <script type="text/javascript">
    actionkit.forms.contextRoot = '//act.credoaction.com/context/';
    actionkit.forms.initPage(); actionkit.forms.initForm('act');
    actionkit.utils.appendHiddenInput('action_referrer', document.referrer);
  </script>

</body>
</html>
