<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

      <div class="header">

          <div class="header-logo">

            <a href="http://www.credoaction.com" target="_blank"><img src="{{site.baseurl}}/images/credo-action-logo.png" style="height:40px;"></a>

          </div>

          <div class="header-buttons hidden">

              <a href="#take-action" class="header-text" id="header-take-action">TAKE ACTION</a>

                  <a href="#"><img src="{{site.baseurl}}/images/facebook-icon.png" style="height:23px; padding: 3px 5px 0px 15px;"></a>

                  <a href="#"><img src="{{site.baseurl}}/images/twitter-icon.png" style="height:23px; padding: 3px 5px 0px 5px;"></a>

          </div>

      </div>

      <div id="overlay" class="overlay">
          <div id="overlay-container" class="overlay-container">
              <span id="the-x" class="the-x">X</span>

              <div id="overlay-content-1-rep" class="overlay-content hidden">
                <div id="page-1" class="modal-page page-1">
                  <h3 class="overlay-headline">
                    Representative <span id="rep-name"></span> <span id="stance"></span> the TPP. 
                  </h3>
                  <p class="overlay-p-text">Corporations and their allies in Washington are trying to ram the TPP through Congress in the lame-duck session this fall. We need every Representative to speak out against this mockery of democracy. Call Representative <span class="rep-last-name"></span> now!</p>
                  <h3 class="overlay-headline">                  
                    <span id="phone-number"></span>
                  </h3>
                  <div class="script" id="script">
                    <p style="font-size:18px;text-transform:uppercase;color:#ffffff;font-weight:bold; margin:8px auto -10px;">Sample Script</p>
                    <p class="overlay-p-text script-text">I'm calling to ask Representative <span class="rep-last-name"></span> to publicly speak out against the Trans-Pacific Partnership and against a lame-duck vote on the TPP this fall. This corporate trade deal would exploit workers, offshore jobs, harm the environment and make medicines harder to get, among other things. Can I count on Rep. <span class="rep-last-name"></span> to publicly oppose the TPP and speak out against a lame duck vote?<br /><span id="collapse-script" style="font-style:italic; cursor:pointer; font-size:8px;">Collapse sample script</span></p>
                  </div>
                  <button class="action-button sample-script-button" id="sample-script-button">Sample Script</button>
                  <button class="action-button" id="how-did-it-go">How'd it go?</button>
                </div>

                <div id="page-2" class="modal-page page-2">
                  <h3 class="overlay-headline">What did Representative <span class="rep-last-name"></span> say?</h3>
                  <div class="response-page">
                    <form role="form" method="POST" action="//act.credoaction.com/act/" id="ak-form" name="ak-form">

                      <div class="responses">
                          <label class="for-radio"><span><input type="radio" name="response-" value="supportive"></span>They oppose the TPP</label>
                          <label class="for-radio"><span><input type="radio" name="response-" value="opposed"></span>They support the TPP</label>
                          <label class="for-radio"><span><input type="radio" name="response-" value="uncommitted"></span>They haven't taken a position</label>
                          <label class="for-radio"><span><input type="radio" name="response-" value="left a message"></span>I left a message</label>
                          <label class="for-radio"><span><input type="radio" name="response-" value="unreachable"></span>No one answered</label>
                      </div>
                      <textarea id="id_action_survey" name="action_survey" class="ak-has-overlay form-field text-area" placeholder="Is there anything you'd like to add about the call?"></textarea>

                      <div class="form-group"><input type="text" class="form-control form-field" name="name" placeholder="Your name"></div>
                      <div class="form-group"><input type="email" class="form-control form-field" name="email" placeholder="Your email"></div>
                      <div class="form-group"><input type="text" class="form-control form-field" name="zip" placeholder="Your zip code"></div>

                      <button type="submit" class="btn btn-ak action-button">Submit</button>

                      <!-- HIDDEN FIELDS DO NOT TOUCH -->
                        <input name="page" value="tpp-whipcount-2016" type="hidden" />
                        <input name="action_referrer" value="" type="hidden" />
                        <input name="country" value="United States" type="hidden" />
                        <input name="lists" value="1" type="hidden" />
                                          
                    </form>
                  </div>
                </div>
              </div>

              <div id="overlay-content-multiple-reps" class="overlay-content hidden">
                <div class="modal-page multiple-reps-list">
                  <h3 class="overlay-headline">There are multiple Representatives in that Zip code. Please select yours from the list below.</h3>
                  <div id="multiple-reps-list">
                    <button class="multiple-reps-button action-button hidden">
                      <span class="multiple-reps-name"></span>
                    </button>
                  </div>
                </div>
              </div>

          </div>
      </div>



      <div class="container content">
        {{ content }}
      </div>

    <div class="footer">

      <div class="footer-content">

        <p class="footer-text"><a href="http://www.credoaction.com/" target="_blank" class="footer-text">TPPWhipCount.com is a project of CREDO Action. Find out more about our campaigns here.</a></p>

        <div class="footer-buttons">

          <a href="#"><img src="{{site.baseurl}}/images/facebook-icon.png" style="height:23px; padding: 3px 5px 0px 5px;"></a>

          <a href="#"><img src="{{site.baseurl}}/images/twitter-icon.png" style="height:23px; padding: 3px 5px 0px 5px;"></a>

          <a href="#"><img src="{{site.baseurl}}/images/email-icon.png" style="height:23px; padding: 3px 5px 0px 5px;"></a>

        </div>

    </div>

  <script type="text/javascript">
    actionkit.forms.contextRoot = '//act.credoaction.com/context/';
    actionkit.forms.initPage(); actionkit.forms.initForm('act');
    actionkit.utils.appendHiddenInput('action_referrer', document.referrer);
  </script>

</body>
</html>
